/* Base */
$baseBlack: #000000;
$basicWhite: #FFFFFF;
$transparent: Transparent;
$pageBackground: #F2F3F5;
$baseBackground: #FFFFFF;
$overlayBackground: #FFFFFF;

/* Text */
$primaryText: #303133;
$regularText: #606266;
$secondaryText: #909399;
$placeholderText: #A8ABB2;
$disabledText: #C0C4CC;

/* Border */
$darkerBorder: #CDD0D6;
$darkBorder: #D4D7DE;
$baseBorder: #DCDFE6;
$lightBorder: #E4E7ED;
$lighterBorder: #EBEEF5;
$extraLightBorder: #F2F6FC;

/* Fill */
$darkerFill: #E6E8EB;
$darkFill: #EBEDF0;
$baseFill: #F0F2F5;
$lightFill: #F5F7FA;
$lighterFill: #FAFAFA;
$extraLightFill: #FAFCFF;
$blankFill: #FFFFFF;